.todo {
  margin: 20px;
  padding: 5px;
  width: 50%;
  border: 1px solid black;
  display: inline-block;
}

input {
  margin: 0 10px;
  width: 120px;
}

.buttonStyles {
  color: white;
  background-color: darkgreen;
  font-size: 0.8rem;
}

.deleteButton {
  margin-left: 10px;
  background-color: black;
  display: inline-flex;
  align-self: center;
}

.deleteButtonContainer {
  display: inline-flex;
  align-self: center;
}

.todoItemsContainer {
  display: flex;
}
